body {
  background-color: #9bc1a1;
}

div#form {
  width: 600px;
  margin: 50px auto;
  background-color: #bfbdbb;
  padding: 10%;
}

div#list {
  width: 600px;
  margin: 50px auto;
  border: dashed 4px #AAA;
  background-color: #bfbdbb;
  padding: 10px 20px;
}
